.header_date {
    display: flex;
    align-items: center;
    background-color: $header-date;
    width: fit-content;
    gap: 10px;
    border-radius: 16px;
    padding: 0 15px;
    p {
        font-size: 20px;
        color: #000000;
        line-height: 20px;
    }
    h2 {
        font-size: 20px;
        color: #000;
        line-height: 20px;
    }
}