$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$background-color: #e495dd;
$font-color: #000000;
$page-width: 1374px;
$bg-body: #ffd5ff;
$bg-primary: #e6e6e6;

//header
$header-date: #ff81ff;
